In [1]:
from torch.utils.data import Dataset, DataLoader
import pandas as pd
import numpy as np
import os
import torch

In [12]:
df_raw = pd.read_csv(os.path.join('./', 'test.csv'))
df_raw

                   date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0   2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1   2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2   2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3   2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4   2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000
5   2016-07-01 05:00:00  5.626  2.143  1.528  0.533  4.051  1.371  21.174000
6   2016-07-01 06:00:00  7.167  2.947  2.132  0.782  5.026  1.858  22.792000
7   2016-07-01 07:00:00  7.435  3.282  2.310  1.031  5.087  2.224  23.143999
8   2016-07-01 08:00:00  5.559  3.014  2.452  1.173  2.955  1.432  21.667000
9   2016-07-01 09:00:00  4.555  2.545  1.919  0.817  2.680  1.371  17.445999
10  2016-07-01 10:00:00  4.957  2.545  1.990  0.853  2.955  1.492  19.979000

In [13]:
# cols 只是提取了标签
cols = list(df_raw.columns)
print(cols)
cols.remove('OT'); cols.remove('date')
print(cols)

df_raw = df_raw[['date'] + cols +['OT']]
df_raw

['date', 'HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL', 'OT']
['HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL']

                   date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0   2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1   2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2   2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3   2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4   2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000
5   2016-07-01 05:00:00  5.626  2.143  1.528  0.533  4.051  1.371  21.174000
6   2016-07-01 06:00:00  7.167  2.947  2.132  0.782  5.026  1.858  22.792000
7   2016-07-01 07:00:00  7.435  3.282  2.310  1.031  5.087  2.224  23.143999
8   2016-07-01 08:00:00  5.559  3.014  2.452  1.173  2.955  1.432  21.667000
9   2016-07-01 09:00:00  4.555  2.545  1.919  0.817  2.680  1.371  17.445999
10  2016-07-01 10:00:00  4.957  2.545  1.990  0.853  2.955  1.492  19.979000

In [26]:
print(df_raw.columns[1:])

Index(['HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL', 'OT'], dtype='object')

In [14]:
num_train = int(len(df_raw)*0.7)
num_test = int(len(df_raw)*0.2)
num_vali = len(df_raw) - num_train - num_test
num_train, num_test, num_vali

(7, 2, 2)

In [15]:
seq_len = 30*24           # input sequence length of Informer encoder
label_len = 7*24          # start token length of Informer decoder
pred_len = 24             # prediction sequence length

In [25]:
flag = 0
df_raw_1 = 10000

num_train = int(df_raw_1*0.7)
num_test = int(df_raw_1*0.2)
num_vali = df_raw_1 - num_train - num_test

print(num_train)
print(num_test)
print(num_vali)
print('##########################')

type_map = {'train': 0, 'val': 1, 'test': 2}
set_type = type_map['train']

border1s = [0, num_train-seq_len, df_raw_1-num_test-seq_len]
border2s = [num_train, num_train+num_vali, df_raw_1]
print(border1s)
print(border2s)
print('##########################')

border1 = border1s[set_type]
border2 = border2s[set_type]
print(border1)
print(border2)

7000
2000
1000
##########################
[0, 6280, 7280]
[7000, 8000, 10000]
##########################
0
7000

[0, 2, 12]