In [30]:
from torch.utils.data import Dataset, DataLoader
import pandas as pd
import numpy as np
import os
import torch

In [35]:
df_raw = pd.read_csv(os.path.join('./', 'test.csv'))
df_raw, len(df_raw)

(                   date    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
 0   2016-07-01 00:00:00   5.827  2.009  1.599  0.462  4.203  1.340  30.531000
 1   2016-07-01 01:00:00   5.693  2.076  1.492  0.426  4.142  1.371  27.787001
 2   2016-07-01 02:00:00   5.157  1.741  1.279  0.355  3.777  1.218  27.787001
 3   2016-07-01 03:00:00   5.090  1.942  1.279  0.391  3.807  1.279  25.044001
 4   2016-07-01 04:00:00   5.358  1.942  1.492  0.462  3.868  1.279  21.948000
 ..                  ...     ...    ...    ...    ...    ...    ...        ...
 95  2016-07-04 23:00:00  12.726  6.497  9.346  3.482  3.168  1.980  25.466000
 96  2016-07-05 00:00:00  11.989  5.626  8.777  2.949  3.198  1.980  25.958000
 97  2016-07-05 01:00:00  12.525  6.296  8.955  3.163  3.137  2.010  25.958000
 98  2016-07-05 02:00:00  12.324  6.296  8.813  3.376  2.985  1.919  26.028000
 99  2016-07-05 03:00:00  10.717  5.425  8.066  2.878  2.833  1.858  28.913000

 [100 rows x 8 columns],
 100)

In [122]:
df_raw['OT'][0]-2

28.5310001373291

In [37]:
# cols 只是提取了标签
cols = list(df_raw.columns)
print(cols)
cols.remove('OT'); cols.remove('date')
print(cols)

df_raw = df_raw[['date'] + cols +['OT']]
df_raw.head()

['date', 'HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL', 'OT']
['HUFL', 'HULL', 'MUFL', 'MULL', 'LUFL', 'LULL']

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [38]:
num_train = int(len(df_raw)*0.7)
num_test = int(len(df_raw)*0.2)
num_vali = len(df_raw) - num_train - num_test
num_train, num_test, num_vali

(70, 20, 10)

In [15]:
seq_len = 30*24           # input sequence length of Informer encoder
label_len = 7*24          # start token length of Informer decoder
pred_len = 24             # prediction sequence length

In [42]:
flag = 0
df_raw_1 = 10000

num_train = int(df_raw_1*0.7)
num_test = int(df_raw_1*0.2)
num_vali = df_raw_1 - num_train - num_test

print(num_train)
print(num_test)
print(num_vali)
print('##########################')

type_map = {'train': 0, 'val': 1, 'test': 2}
set_type = type_map['test']

border1s = [0, num_train-seq_len, df_raw_1-num_test-seq_len]
border2s = [num_train, num_train+num_vali, df_raw_1]
print(border1s)
print(border2s)
print('##########################')

border1 = border1s[set_type]
border2 = border2s[set_type]
print(border1)
print(border2)

7000
2000
1000
##########################
[0, 6280, 7280]
[7000, 8000, 10000]
##########################
7280
10000

In [47]:
features = 'MS'
if features=='M' or features=='MS':
        cols_data = df_raw.columns[1:]
        df_data = df_raw[cols_data]
elif features=='S':
        df_data = df_raw[['OT']]

df_data.head(), len(df_data)

(    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
 0  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
 1  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
 2  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
 3  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
 4  5.358  1.942  1.492  0.462  3.868  1.279  21.948000,
 100)

In [48]:
data = df_data.values
data

array([[ 5.82700014,  2.00900006,  1.59899998,  0.46200001,  4.20300007,
         1.34000003, 30.53100014],
       [ 5.69299984,  2.07599998,  1.49199998,  0.426     ,  4.1420002 ,
         1.37100005, 27.78700066],
       [ 5.15700006,  1.74100006,  1.27900004,  0.35499999,  3.77699995,
         1.21800005, 27.78700066],
       [ 5.09000015,  1.94200003,  1.27900004,  0.391     ,  3.80699992,
         1.27900004, 25.04400063],
       [ 5.3579998 ,  1.94200003,  1.49199998,  0.46200001,  3.86800003,
         1.27900004, 21.94799995],
       [ 5.62599993,  2.14299989,  1.528     ,  0.53299999,  4.05100012,
         1.37100005, 21.17399979],
       [ 7.16699982,  2.94700003,  2.13199997,  0.78200001,  5.02600002,
         1.85800004, 22.79199982],
       [ 7.43499994,  3.28200006,  2.30999994,  1.03100002,  5.08699989,
         2.22399998, 23.1439991 ],
       [ 5.55900002,  3.01399994,  2.4519999 ,  1.17299998,  2.95499992,
         1.43200004, 21.66699982],
       [ 4.55499983,  2.54500008,  1.91900003,  0.81699997,  2.68000007,
         1.37100005, 17.44599915],
       [ 4.95699978,  2.54500008,  1.99000001,  0.85299999,  2.95499992,
         1.49199998, 19.97900009],
       [ 5.76000023,  2.54500008,  2.20300007,  0.85299999,  3.44199991,
         1.49199998, 20.11899948],
       [ 4.68900013,  2.54500008,  1.81200004,  0.85299999,  2.83299994,
         1.523     , 19.20499992],
       [ 4.68900013,  2.6789999 ,  1.77699995,  1.24399996,  3.10700011,
         1.61399996, 18.5720005 ],
       [ 5.09000015,  2.94700003,  2.4519999 ,  1.35000002,  2.55900002,
         1.43200004, 19.55599976],
       [ 5.09000015,  3.148     ,  2.48699999,  1.35000002,  2.58899999,
         1.523     , 17.30500031],
       [ 4.21999979,  2.41100001,  1.70599997,  0.78200001,  2.61899996,
         1.49199998, 19.48600006],
       [ 4.75600004,  2.3440001 ,  1.63499999,  0.71100003,  3.07599998,
         1.49199998, 19.13400078],
       [ 5.62599993,  2.88000011,  2.523     ,  1.20799994,  3.07599998,
         1.49199998, 20.68199921],
       [ 5.4920001 ,  3.01399994,  2.4519999 ,  1.20799994,  3.0150001 ,
         1.55299997, 18.71199989],
       [ 5.3579998 ,  3.01399994,  2.4519999 ,  1.20799994,  2.86299992,
         1.523     , 17.86800003],
       [ 5.09000015,  2.94700003,  2.38100004,  1.20799994,  2.68000007,
         1.523     , 18.00900078],
       [ 4.82299995,  2.94700003,  2.20300007,  1.17299998,  2.61899996,
         1.523     , 18.00900078],
       [ 4.62200022,  2.88000011,  2.13199997,  1.13699996,  2.46700001,
         1.49199998, 19.76799965],
       [ 5.22399998,  3.08100009,  2.70099998,  1.31500006,  2.43700004,
         1.523     , 21.10400009],
       [ 5.15700006,  3.01399994,  2.87800002,  1.35000002,  2.34500003,
         1.43200004, 19.6970005 ],
       [ 5.15700006,  3.148     ,  2.87800002,  1.49199998,  2.28399992,
         1.43200004, 20.04899979],
       [ 5.15700006,  3.08100009,  2.91400003,  1.49199998,  2.19300008,
         1.40100002, 20.75200081],
       [ 4.55499983,  3.08100009,  2.4519999 ,  1.49199998,  2.19300008,
         1.40100002, 21.38500023],
       [ 5.42500019,  3.28200006,  3.09200001,  1.70599997,  2.43700004,
         1.46200001, 22.22999954],
       [ 5.4920001 ,  3.28200006,  2.523     ,  1.49199998,  2.9849999 ,
         1.46200001, 20.26000023],
       [ 5.62599993,  3.21499991,  2.48699999,  1.49199998,  3.07599998,
         1.523     , 21.10400009],
       [ 5.55900002,  3.28200006,  2.5940001 ,  1.66999996,  2.92400002,
         1.523     , 20.61199951],
       [ 5.22399998,  3.21499991,  2.55900002,  1.56400001,  2.68000007,
         1.46200001, 18.36100006],
       [ 9.91300011,  4.95699978,  6.64499998,  3.30500007,  3.046     ,
         1.55299997, 20.96299934],
       [11.78800011,  5.42500019,  8.17300034,  2.523     ,  3.68600011,
         1.67499995, 19.41600037],
       [ 9.64500046,  4.95699978,  6.75199986,  2.13199997,  3.10700011,
         1.82799995, 20.82299995],
       [10.38199997,  5.76000023,  7.46199989,  2.55900002,  2.9849999 ,
         1.76699996, 20.19000053],
       [ 8.77400017,  4.68900013,  6.11199999,  2.0250001 ,  2.89400005,
         1.91900003, 21.31500053],
       [10.44900036,  5.15700006,  6.96500015,  2.4519999 ,  2.77200007,
         1.73599994, 22.0189991 ],
       [ 9.84599972,  4.82299995,  7.03599977,  2.66499996,  2.89400005,
         1.76699996, 20.68199921],
       [ 9.91300011,  4.82299995,  6.89400005,  2.41599989,  3.22900009,
         1.73599994, 25.4659996 ],
       [10.64999962,  4.68900013,  6.9289999 ,  2.4519999 ,  3.38100004,
         1.79700005, 25.88800049],
       [10.11400032,  4.35400009,  6.64499998,  1.81200004,  3.10700011,
         1.73599994, 27.85700035],
       [ 9.97999954,  4.15299988,  6.57399988,  1.954     ,  3.41100001,
         1.76699996, 27.29500008],
       [ 9.31000042,  4.21999979,  6.00500011,  2.13199997,  3.22900009,
         1.85800004, 22.22999954],
       [ 9.44400024,  4.62200022,  6.96500015,  2.16799998,  2.95499992,
         1.85800004, 21.94799995],
       [ 9.44400024,  4.28700018,  6.82299995,  2.55900002,  2.58899999,
         1.73599994, 27.29500008],
       [10.38199997,  5.42500019,  7.60400009,  2.30999994,  2.95499992,
         1.67499995, 29.33499908],
       [ 9.77900028,  5.22399998,  6.71600008,  2.84299994,  2.6500001 ,
         1.67499995, 26.02799988],
       [10.38199997,  4.68900013,  7.32000017,  2.20300007,  2.9849999 ,
         1.85800004, 24.34000015],
       [ 9.77900028,  4.15299988,  6.82299995,  1.99000001,  2.52800012,
         1.67499995, 26.45000076],
       [10.71700001,  4.75600004,  7.35599995,  2.80699992,  2.6500001 ,
         1.79700005, 25.95800018],
       [10.31499958,  4.68900013,  7.39099979,  2.4519999 ,  2.92400002,
         1.85800004, 24.05900002],
       [12.59200001,  5.22399998,  8.67099953,  2.20300007,  3.71600008,
         1.949     , 25.32500076],
       [11.11900043,  4.62200022,  7.88899994,  2.84299994,  3.625     ,
         1.91900003, 23.63699913],
       [10.64999962,  4.421     ,  7.03599977,  2.0250001 ,  3.5940001 ,
         1.91900003, 26.37999916],
       [10.04699993,  4.21999979,  6.43200016,  1.66999996,  3.68600011,
         1.949     , 27.36499977],
       [11.72099972,  5.09000015,  7.88899994,  2.55900002,  3.56399989,
         1.85800004, 28.06800079],
       [12.12300014,  5.3579998 ,  8.06599998,  2.48699999,  4.08199978,
         1.91900003, 29.47500038],
       [ 9.97999954,  5.02299976,  6.8579998 ,  2.55900002,  3.28999996,
         1.85800004, 26.80200005],
       [ 9.24300003,  4.95699978,  6.28999996,  2.63000011,  3.13700008,
         1.88800001, 29.96800041],
       [10.18099976,  5.42500019,  7.17799997,  3.01999998,  3.07599998,
         1.88800001, 30.38999939],
       [ 9.64500046,  5.42500019,  7.10699987,  2.66499996,  3.0150001 ,
         1.82799995, 31.16399956],
       [ 9.77900028,  4.88999987,  6.50299978,  2.9849999 ,  3.07599998,
         2.00999999, 29.75699997],
       [11.11900043,  5.15700006,  7.32000017,  2.91400003,  3.80699992,
         1.98000002, 32.28900146],
       [11.05200005,  4.95699978,  7.39099979,  2.523     ,  3.68600011,
         1.98000002, 31.93799973],
       [10.7840004 ,  4.88999987,  7.21400023,  2.48699999,  3.5940001 ,
         1.88800001, 28.56100082],
       [11.18599987,  4.88999987,  7.17799997,  2.34500003,  3.96000004,
         1.91900003, 21.52599907],
       [10.44900036,  4.88999987,  6.61000013,  2.30999994,  3.80699992,
         2.04099989, 22.22999954],
       [ 9.57800007,  5.76000023,  6.78700018,  3.12700009,  3.25900006,
         1.88800001, 19.41600037],
       [ 9.31000042,  5.76000023,  6.61000013,  3.05599999,  3.16799998,
         1.88800001, 18.5720005 ],
       [ 9.91300011,  5.89400005,  6.25400019,  2.63000011,  3.0150001 ,
         1.85800004, 21.66699982],
       [ 8.97500038,  4.95699978,  6.28999996,  2.66499996,  2.86299992,
         1.82799995, 25.5359993 ],
       [ 8.64000034,  4.82299995,  6.14799976,  2.5940001 ,  2.92400002,
         1.82799995, 27.85700035],
       [ 9.17599964,  5.4920001 ,  5.579     ,  2.38100004,  2.86299992,
         1.85800004, 27.9279995 ],
       [ 9.10900021,  4.82299995,  5.6500001 ,  2.523     ,  2.77200007,
         1.79700005, 24.62100029],
       [ 9.84599972,  5.55900002,  5.96999979,  2.94899988,  3.10700011,
         1.88800001, 23.84799957],
       [11.5880003 ,  5.42500019,  7.39099979,  2.80699992,  3.80699992,
         1.98000002, 23.0739994 ],
       [11.78800011,  6.09499979,  7.21400023,  2.9849999 ,  3.89899993,
         2.04099989, 22.51099968],
       [10.58300018,  5.96099997,  7.14300013,  2.91400003,  3.65499997,
         2.0710001 , 21.66699982],
       [11.5880003 ,  6.296     ,  7.56899977,  3.05599999,  3.47199988,
         2.00999999, 25.39500046],
       [11.92199993,  6.22900009,  7.71099997,  3.05599999,  3.74600005,
         1.949     , 25.18400002],
       [12.32400036,  5.55900002,  8.42199993,  3.23399997,  4.20300007,
         1.98000002, 29.54599953],
       [10.38199997,  5.89400005,  6.8579998 ,  2.63000011,  3.56399989,
         1.949     , 29.47500038],
       [10.04699993,  5.42500019,  6.75199986,  3.01999998,  3.31999993,
         1.949     , 29.26399994],
       [10.51599979,  6.02799988,  7.10699987,  3.37599993,  3.13700008,
         1.91900003, 30.95299911],
       [10.71700001,  6.09499979,  6.78700018,  3.01999998,  3.16799998,
         2.00999999, 31.72599983],
       [ 9.97999954,  5.02299976,  6.50299978,  2.55900002,  3.44199991,
         2.04099989, 33.13299942],
       [11.31999969,  5.09000015,  7.35599995,  2.4519999 ,  3.86800003,
         2.04099989, 28.9829998 ],
       [11.38700008,  4.95699978,  7.35599995,  2.4519999 ,  4.29500008,
         2.19300008, 28.9829998 ],
       [ 9.37699986,  3.88499999,  6.89400005,  2.23900008,  2.46700001,
         1.18799996, 31.72599983],
       [10.11400032,  4.08599997,  7.14300013,  2.23900008,  2.95499992,
         1.46200001, 25.18400002],
       [10.38199997,  4.82299995,  6.89400005,  2.30999994,  3.50300002,
         2.00999999, 30.53100014],
       [ 9.64500046,  4.88999987,  6.61000013,  1.91900003,  3.25900006,
         1.91900003, 27.64599991],
       [12.72599983,  6.49700022,  9.34599972,  3.48200011,  3.16799998,
         1.98000002, 25.4659996 ],
       [11.98900032,  5.62599993,  8.77700043,  2.94899988,  3.19799995,
         1.98000002, 25.95800018],
       [12.52499962,  6.296     ,  8.95499992,  3.16300011,  3.13700008,
         2.00999999, 25.95800018],
       [12.32400036,  6.296     ,  8.81299973,  3.37599993,  2.9849999 ,
         1.91900003, 26.02799988],
       [10.71700001,  5.42500019,  8.06599998,  2.87800002,  2.83299994,
         1.85800004, 28.91300011]])

In [84]:
from typing import List

import numpy as np
import pandas as pd
from pandas.tseries import offsets
from pandas.tseries.frequencies import to_offset

class TimeFeature:
    def __init__(self):
        pass

    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        pass

    def __repr__(self):
        return self.__class__.__name__ + "()"

class SecondOfMinute(TimeFeature):
    """Minute of hour encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return index.second / 59.0 - 0.5

class MinuteOfHour(TimeFeature):
    """Minute of hour encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return index.minute / 59.0 - 0.5

class HourOfDay(TimeFeature):
    """Hour of day encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return index.hour / 23.0 - 0.5

class DayOfWeek(TimeFeature):
    """Hour of day encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return index.dayofweek / 6.0 - 0.5

class DayOfMonth(TimeFeature):
    """Day of month encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return (index.day - 1) / 30.0 - 0.5

class DayOfYear(TimeFeature):
    """Day of year encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return (index.dayofyear - 1) / 365.0 - 0.5

class MonthOfYear(TimeFeature):
    """Month of year encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return (index.month - 1) / 11.0 - 0.5

class WeekOfYear(TimeFeature):
    """Week of year encoded as value between [-0.5, 0.5]"""
    def __call__(self, index: pd.DatetimeIndex) -> np.ndarray:
        return (index.week - 1) / 52.0 - 0.5

def time_features_from_frequency_str(freq_str: str) -> List[TimeFeature]:
    """
    Returns a list of time features that will be appropriate for the given frequency string.
    Parameters
    ----------
    freq_str
        Frequency string of the form [multiple][granularity] such as "12H", "5min", "1D" etc.
    """

    features_by_offsets = {
        offsets.YearEnd: [],
        offsets.QuarterEnd: [MonthOfYear],
        offsets.MonthEnd: [MonthOfYear],
        offsets.Week: [DayOfMonth, WeekOfYear],
        offsets.Day: [DayOfWeek, DayOfMonth, DayOfYear],
        offsets.BusinessDay: [DayOfWeek, DayOfMonth, DayOfYear],
        offsets.Hour: [HourOfDay, DayOfWeek, DayOfMonth, DayOfYear],
        offsets.Minute: [
            MinuteOfHour,
            HourOfDay,
            DayOfWeek,
            DayOfMonth,
            DayOfYear,
        ],
        offsets.Second: [
            SecondOfMinute,
            MinuteOfHour,
            HourOfDay,
            DayOfWeek,
            DayOfMonth,
            DayOfYear,
        ],
    }

    offset = to_offset(freq_str)

    for offset_type, feature_classes in features_by_offsets.items():
        if isinstance(offset, offset_type):
            return [cls() for cls in feature_classes]

    supported_freq_msg = f"""
    Unsupported frequency {freq_str}
    The following frequencies are supported:
        Y   - yearly
            alias: A
        M   - monthly
        W   - weekly
        D   - daily
        B   - business days
        H   - hourly
        T   - minutely
            alias: min
        S   - secondly
    """
    raise RuntimeError(supported_freq_msg)

def time_features(dates, timeenc=1, freq='h'):
    """
    > `time_features` takes in a `dates` dataframe with a 'dates' column and extracts the date down to `freq` where freq can be any of the following if `timeenc` is 0: 
    > * m - [month]
    > * w - [month]
    > * d - [month, day, weekday]
    > * b - [month, day, weekday]
    > * h - [month, day, weekday, hour]
    > * t - [month, day, weekday, hour, *minute]
    > 
    > If `timeenc` is 1, a similar, but different list of `freq` values are supported (all encoded between [-0.5 and 0.5]): 
    > * Q - [month]
    > * M - [month]
    > * W - [Day of month, week of year]
    > * D - [Day of week, day of month, day of year]
    > * B - [Day of week, day of month, day of year]
    > * H - [Hour of day, day of week, day of month, day of year]
    > * T - [Minute of hour*, hour of day, day of week, day of month, day of year]
    > * S - [Second of minute, minute of hour, hour of day, day of week, day of month, day of year]

    *minute returns a number from 0-3 corresponding to the 15 minute period it falls into.
    """
    if timeenc==0:
        dates['month'] = dates.date.apply(lambda row:row.month,1)
        dates['day'] = dates.date.apply(lambda row:row.day,1)
        dates['weekday'] = dates.date.apply(lambda row:row.weekday(),1)
        dates['hour'] = dates.date.apply(lambda row:row.hour,1)
        dates['minute'] = dates.date.apply(lambda row:row.minute,1)
        dates['minute'] = dates.minute.map(lambda x:x//15)
        freq_map = {
            'y':[],'m':['month'],'w':['month'],'d':['month','day','weekday'],
            'b':['month','day','weekday'],'h':['month','day','weekday','hour'],
            't':['month','day','weekday','hour','minute'],
        }
        return dates[freq_map[freq.lower()]].values
    if timeenc==1:
        dates = pd.to_datetime(dates.date.values)
        return np.vstack([feat(dates) for feat in time_features_from_frequency_str(freq)]).transpose(1,0)

In [111]:

b = 10
df_stamp = df_raw[['date']][b:70]
# pri = df_stamp['date']
# print(f'data_stamp date from {df_stamp.date[0]} to {pri[len(pri)-1]} with len {len(pri)}')

# df_stamp, df_stamp.shape, df_stamp['date'][0], df_stamp['date'][len(df_stamp)-1]

<bound method IndexOpsMixin.argmin of 10    2016-07-01 10:00:00
11    2016-07-01 11:00:00
12    2016-07-01 12:00:00
13    2016-07-01 13:00:00
14    2016-07-01 14:00:00
15    2016-07-01 15:00:00
16    2016-07-01 16:00:00
17    2016-07-01 17:00:00
18    2016-07-01 18:00:00
19    2016-07-01 19:00:00
20    2016-07-01 20:00:00
21    2016-07-01 21:00:00
22    2016-07-01 22:00:00
23    2016-07-01 23:00:00
24    2016-07-02 00:00:00
25    2016-07-02 01:00:00
26    2016-07-02 02:00:00
27    2016-07-02 03:00:00
28    2016-07-02 04:00:00
29    2016-07-02 05:00:00
30    2016-07-02 06:00:00
31    2016-07-02 07:00:00
32    2016-07-02 08:00:00
33    2016-07-02 09:00:00
34    2016-07-02 10:00:00
35    2016-07-02 11:00:00
36    2016-07-02 12:00:00
37    2016-07-02 13:00:00
38    2016-07-02 14:00:00
39    2016-07-02 15:00:00
40    2016-07-02 16:00:00
41    2016-07-02 17:00:00
42    2016-07-02 18:00:00
43    2016-07-02 19:00:00
44    2016-07-02 20:00:00
45    2016-07-02 21:00:00
46    2016-07-02 22:00:00
47    2016-07-02 23:00:00
48    2016-07-03 00:00:00
49    2016-07-03 01:00:00
50    2016-07-03 02:00:00
51    2016-07-03 03:00:00
52    2016-07-03 04:00:00
53    2016-07-03 05:00:00
54    2016-07-03 06:00:00
55    2016-07-03 07:00:00
56    2016-07-03 08:00:00
57    2016-07-03 09:00:00
58    2016-07-03 10:00:00
59    2016-07-03 11:00:00
60    2016-07-03 12:00:00
61    2016-07-03 13:00:00
62    2016-07-03 14:00:00
63    2016-07-03 15:00:00
64    2016-07-03 16:00:00
65    2016-07-03 17:00:00
66    2016-07-03 18:00:00
67    2016-07-03 19:00:00
68    2016-07-03 20:00:00
69    2016-07-03 21:00:00
Name: date, dtype: object>

In [115]:
# pd.to_datetime() 是 Pandas 提供的一个方法，用于将输入的数据（通常是字符串或数值形式的日期）转换为日期时间格式。
df_stamp['date'] = pd.to_datetime(df_stamp.date)
df_stamp, type(df_stamp['date']), df_stamp.shape

(                  date
 10 2016-07-01 10:00:00
 11 2016-07-01 11:00:00
 12 2016-07-01 12:00:00
 13 2016-07-01 13:00:00
 14 2016-07-01 14:00:00
 15 2016-07-01 15:00:00
 16 2016-07-01 16:00:00
 17 2016-07-01 17:00:00
 18 2016-07-01 18:00:00
 19 2016-07-01 19:00:00
 20 2016-07-01 20:00:00
 21 2016-07-01 21:00:00
 22 2016-07-01 22:00:00
 23 2016-07-01 23:00:00
 24 2016-07-02 00:00:00
 25 2016-07-02 01:00:00
 26 2016-07-02 02:00:00
 27 2016-07-02 03:00:00
 28 2016-07-02 04:00:00
 29 2016-07-02 05:00:00
 30 2016-07-02 06:00:00
 31 2016-07-02 07:00:00
 32 2016-07-02 08:00:00
 33 2016-07-02 09:00:00
 34 2016-07-02 10:00:00
 35 2016-07-02 11:00:00
 36 2016-07-02 12:00:00
 37 2016-07-02 13:00:00
 38 2016-07-02 14:00:00
 39 2016-07-02 15:00:00
 40 2016-07-02 16:00:00
 41 2016-07-02 17:00:00
 42 2016-07-02 18:00:00
 43 2016-07-02 19:00:00
 44 2016-07-02 20:00:00
 45 2016-07-02 21:00:00
 46 2016-07-02 22:00:00
 47 2016-07-02 23:00:00
 48 2016-07-03 00:00:00
 49 2016-07-03 01:00:00
 50 2016-07-03 02:00:00
 51 2016-07-03 03:00:00
 52 2016-07-03 04:00:00
 53 2016-07-03 05:00:00
 54 2016-07-03 06:00:00
 55 2016-07-03 07:00:00
 56 2016-07-03 08:00:00
 57 2016-07-03 09:00:00
 58 2016-07-03 10:00:00
 59 2016-07-03 11:00:00
 60 2016-07-03 12:00:00
 61 2016-07-03 13:00:00
 62 2016-07-03 14:00:00
 63 2016-07-03 15:00:00
 64 2016-07-03 16:00:00
 65 2016-07-03 17:00:00
 66 2016-07-03 18:00:00
 67 2016-07-03 19:00:00
 68 2016-07-03 20:00:00
 69 2016-07-03 21:00:00,
 pandas.core.series.Series,
 (60, 1))

In [96]:
pred_dates = pd.date_range(df_stamp.date.values[-1], periods=24+1, freq='h')
pred_dates, len(pred_dates)

(DatetimeIndex(['2016-07-03 21:00:00', '2016-07-03 22:00:00',
                '2016-07-03 23:00:00', '2016-07-04 00:00:00',
                '2016-07-04 01:00:00', '2016-07-04 02:00:00',
                '2016-07-04 03:00:00', '2016-07-04 04:00:00',
                '2016-07-04 05:00:00', '2016-07-04 06:00:00',
                '2016-07-04 07:00:00', '2016-07-04 08:00:00',
                '2016-07-04 09:00:00', '2016-07-04 10:00:00',
                '2016-07-04 11:00:00', '2016-07-04 12:00:00',
                '2016-07-04 13:00:00', '2016-07-04 14:00:00',
                '2016-07-04 15:00:00', '2016-07-04 16:00:00',
                '2016-07-04 17:00:00', '2016-07-04 18:00:00',
                '2016-07-04 19:00:00', '2016-07-04 20:00:00',
                '2016-07-04 21:00:00'],
               dtype='datetime64[ns]', freq='H'),
 25)

In [93]:
data_stamp = time_features(df_stamp, timeenc=1, freq='h')
data_stamp, data_stamp.shape

(array([[-0.5       ,  0.16666667, -0.5       , -0.00136986],
        [-0.45652174,  0.16666667, -0.5       , -0.00136986],
        [-0.41304348,  0.16666667, -0.5       , -0.00136986],
        [-0.36956522,  0.16666667, -0.5       , -0.00136986],
        [-0.32608696,  0.16666667, -0.5       , -0.00136986],
        [-0.2826087 ,  0.16666667, -0.5       , -0.00136986],
        [-0.23913043,  0.16666667, -0.5       , -0.00136986],
        [-0.19565217,  0.16666667, -0.5       , -0.00136986],
        [-0.15217391,  0.16666667, -0.5       , -0.00136986],
        [-0.10869565,  0.16666667, -0.5       , -0.00136986],
        [-0.06521739,  0.16666667, -0.5       , -0.00136986],
        [-0.02173913,  0.16666667, -0.5       , -0.00136986],
        [ 0.02173913,  0.16666667, -0.5       , -0.00136986],
        [ 0.06521739,  0.16666667, -0.5       , -0.00136986],
        [ 0.10869565,  0.16666667, -0.5       , -0.00136986],
        [ 0.15217391,  0.16666667, -0.5       , -0.00136986],
        [ 0.19565217,  0.16666667, -0.5       , -0.00136986],
        [ 0.23913043,  0.16666667, -0.5       , -0.00136986],
        [ 0.2826087 ,  0.16666667, -0.5       , -0.00136986],
        [ 0.32608696,  0.16666667, -0.5       , -0.00136986],
        [ 0.36956522,  0.16666667, -0.5       , -0.00136986],
        [ 0.41304348,  0.16666667, -0.5       , -0.00136986],
        [ 0.45652174,  0.16666667, -0.5       , -0.00136986],
        [ 0.5       ,  0.16666667, -0.5       , -0.00136986],
        [-0.5       ,  0.33333333, -0.46666667,  0.00136986],
        [-0.45652174,  0.33333333, -0.46666667,  0.00136986],
        [-0.41304348,  0.33333333, -0.46666667,  0.00136986],
        [-0.36956522,  0.33333333, -0.46666667,  0.00136986],
        [-0.32608696,  0.33333333, -0.46666667,  0.00136986],
        [-0.2826087 ,  0.33333333, -0.46666667,  0.00136986],
        [-0.23913043,  0.33333333, -0.46666667,  0.00136986],
        [-0.19565217,  0.33333333, -0.46666667,  0.00136986],
        [-0.15217391,  0.33333333, -0.46666667,  0.00136986],
        [-0.10869565,  0.33333333, -0.46666667,  0.00136986],
        [-0.06521739,  0.33333333, -0.46666667,  0.00136986],
        [-0.02173913,  0.33333333, -0.46666667,  0.00136986],
        [ 0.02173913,  0.33333333, -0.46666667,  0.00136986],
        [ 0.06521739,  0.33333333, -0.46666667,  0.00136986],
        [ 0.10869565,  0.33333333, -0.46666667,  0.00136986],
        [ 0.15217391,  0.33333333, -0.46666667,  0.00136986],
        [ 0.19565217,  0.33333333, -0.46666667,  0.00136986],
        [ 0.23913043,  0.33333333, -0.46666667,  0.00136986],
        [ 0.2826087 ,  0.33333333, -0.46666667,  0.00136986],
        [ 0.32608696,  0.33333333, -0.46666667,  0.00136986],
        [ 0.36956522,  0.33333333, -0.46666667,  0.00136986],
        [ 0.41304348,  0.33333333, -0.46666667,  0.00136986],
        [ 0.45652174,  0.33333333, -0.46666667,  0.00136986],
        [ 0.5       ,  0.33333333, -0.46666667,  0.00136986],
        [-0.5       ,  0.5       , -0.43333333,  0.00410959],
        [-0.45652174,  0.5       , -0.43333333,  0.00410959],
        [-0.41304348,  0.5       , -0.43333333,  0.00410959],
        [-0.36956522,  0.5       , -0.43333333,  0.00410959],
        [-0.32608696,  0.5       , -0.43333333,  0.00410959],
        [-0.2826087 ,  0.5       , -0.43333333,  0.00410959],
        [-0.23913043,  0.5       , -0.43333333,  0.00410959],
        [-0.19565217,  0.5       , -0.43333333,  0.00410959],
        [-0.15217391,  0.5       , -0.43333333,  0.00410959],
        [-0.10869565,  0.5       , -0.43333333,  0.00410959],
        [-0.06521739,  0.5       , -0.43333333,  0.00410959],
        [-0.02173913,  0.5       , -0.43333333,  0.00410959],
        [ 0.02173913,  0.5       , -0.43333333,  0.00410959],
        [ 0.06521739,  0.5       , -0.43333333,  0.00410959],
        [ 0.10869565,  0.5       , -0.43333333,  0.00410959],
        [ 0.15217391,  0.5       , -0.43333333,  0.00410959],
        [ 0.19565217,  0.5       , -0.43333333,  0.00410959],
        [ 0.23913043,  0.5       , -0.43333333,  0.00410959],
        [ 0.2826087 ,  0.5       , -0.43333333,  0.00410959],
        [ 0.32608696,  0.5       , -0.43333333,  0.00410959],
        [ 0.36956522,  0.5       , -0.43333333,  0.00410959],
        [ 0.41304348,  0.5       , -0.43333333,  0.00410959]]),
 (70, 4))

In [112]:
df_stamp_test = pd.DataFrame(columns = ['date'])
df_stamp_test

Empty DataFrame
Columns: [date]
Index: []

In [125]:
num = 11
num % 10 == 0

False

In [126]:
import time
time.sleep(5)